@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {
    padding: 5rem 0;

    @include m.telefono {
        display: flex;
        justify-content: space-between;
    }

    button {
        margin-bottom: 1rem;
    }
}

.ocultar {
    visibility: hidden;
}